*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
terraform.d/
dev.tfrc
build_errors*.txt
run-logs.txt
run_log*.txt
test-yml-main*.txt
issue*.json
issues.txt
out.json
tests/.terraform.lock.hcl
tests/test-results*.txt
tests/test_output*.txt
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
